[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
requests = "*"
inky = "*"
scipy = "*"

[dev-packages]
jupyter = "*"

[scripts]
start = "python3 tides.py"
